@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Urbanist", sans-serif;
        transition: all .150s linear;
    }
    html.dark {
        background: #111827;
    }
    body {
        min-width: 320px;
    }
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
}